body {
  background-color: white;
  color: #0d1117;
}

iframe {
  border: none;
}

.navbar-brand {
  font-family: "Sirin Stencil", cursive;
}

.form-inline {
  margin-left: auto;
  margin-right: 10px;
}

.lastFmBox {
  float: right;
  padding: 10px;
}

.card {
  width: 50%;
  float: left;
  border: none;
  padding: 5px;
}

@media screen and (max-width: 576px) {
  .card {
    float: none;
    width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
  .card {
    width: 50%;
  }
}
