.gray {
  height: 150px;
  background-color: rgba(255, 0, 0, 0.1);
  margin: 0.5%;
}

.form-inline {
  margin-left: auto;
  margin-right: 10px;
}

.card {
  width: 20%;
  float: left;
  border: none;
}
