body {
  background-color: white;
  color: #0d1117;
  background-image: url("p5.png");
}

nav {
  background-color: #101357;
  color: #fea49f;
  border-bottom: 3px #fea49f solid;
}

.navbar-brand {
  font-family: "Sirin Stencil", cursive;
  font-size: 30px;
}

h1 {
  font-family: "Sirin Stencil", cursive;
}
a {
  color: #fea49f;
  font-weight: bold;
}

iframe {
  border: none;
  padding-bottom: 5px;
}

.form-inline {
  margin-left: auto;
  margin-right: 10px;
}

.lastFmBox {
  float: right;
  padding: 0;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.no-news {
  text-align: center;
  font-weight: 500;
}

.card-body {
  padding-left: 0;
}

#first-row,
#second-row {
  margin: 10px 0;
}

#albumsTitle {
  text-align: left;
}

#search-result {
  padding-left: 0;
}

#search-btn {
  color: #fea49f;
  border: 1px #fea49f solid;
}

#user-search {
  margin: 5px;
}

#news-feed {
  height: 650px;
}

#news-feed-box {
  padding-left: 30px;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 30px;
    padding-bottom: 5px;
  }

  .card-img {
    float: none;
    width: 100%;
  }
  .card-body {
    padding-left: 15px;
  }

  .lastFmBox {
    margin: auto;
  }

  #albumsTitle {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #albumsTitle {
    text-align: left;
    padding-top: 10px;
  }
}

@media screen and (max-width: 565px) {
  a.card-link {
    font-size: small;
  }
}
