body {
  height: 100%;
  background: rgb(236, 211, 222);
  background: radial-gradient(
    circle,
    rgba(236, 211, 222, 1) 0%,
    rgb(132, 224, 236) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Sirin Stencil", cursive;
  padding: 20%;
}

p {
  font-size: smaller;
}

.btn:hover {
  font-size: larger;
  background-color: rgb(241, 231, 235);
}

@media screen and (max-width: 769px) {
  body {
    padding-top: 50%;
  }
}
